/* ************************************************ MES FONTS GOOGLES ********************************************************* */

@import url('https://fonts.googleapis.com/css2? famille= Raleway & display=swap');

.lora{
  font-family: 'lora', sans-serif;
}
body{
  background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url(imgs/font_cafe_petit.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family : 'Raleway', sans-serif ;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #212529;
}
p{
  font-family: 'lora', sans-serif;
}
/* ************************************************** HEADER ******************************************************************* */

/* ******************************************************** H1 ********************************************************************* */

.theme{
  font-weight: 800;
  font-size: 32px;
  color: #e6a756;
  line-height: 32px;
}

#business{
  font-size: 80px;
  color: #f6e1c5;
  line-height: 64px;
  font-weight: 100;
}

/* ***************************************************** NAVBAR ************************************************************************ */

.navbar-brand{
  color: #e6a756;
}
nav li{
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
}
.navbar{
  z-index: 10;
  background-color: rgba(47, 23, 15, 0.9);
  font-weight: bolder;
}

/* **************************************************** PAGE D'ACCUEIL ****************************************************************** */

/* ************************************************************ SECTION IMAGE TEXTE ******************************************************** */

.intro{
  position: relative;
}

.intro .sect_a{
  background-color: #f6e1c5;
  padding: 50px;
}

.texte-head .h_1{
  display: block;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
}

.texte-head .h_2{
  display: block;
  font-size: 48px;
  font-weight: 100;
  line-height: 58px;
}
.texte-sem{
  font-size: 16px;
  font-weight: 400;
  font-family: 'lora', sans-serif;
  line-height: 28px;
}
.intro-button .btn{
  background-color: #e6a756;
  border: #e6a756;
  color: black;
  padding: 20px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
}
.sect_conclu{
  background-color: #e6a756;
}
.conclu{
  background-color: #f6e1c5;
  border: double 0.5rem #e6a756;
}
.promesse{
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.pour_vous{
  display: block;
  font-size: 4rem;
  font-weight: 20;
}

/* *********************************************** PAGE D'A PROPOS *********************************************************************** */

/* .about{
  position: relative;
  height: 750px;
} */
.texte_apropos{
  background-color: #f6e1c5;
  padding: 50px;
}
.texte_apropos .h_2{
  font-size: 3rem;
}
.texte_apropos p{
  text-align: justify;
}
/* *********************************************** PAGE PRODUITS *********************************************************************** */

/* .produit{
  position: relative;
} */

.bg-cou{
  background-color: #f6e1c5;
  height: auto;
  padding: 50px;
  display: inline-block;
}
.bg-cou .h_2{
  font-size: 3rem;
  font-weight: 5;
}
.droit{
  float: left;
}
.gauche{
  float: right;
}

/* *********************************************** PAGE BOUTIQUE *********************************************************************** */

table{
  font-family : 'Lora', serif;
  font-style: italic;
  font-weight: 1000;
}

table tr{
  border-bottom: #e6a756 solid 0.1rem;
}
.lora_vend{
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #e6a756;
}

/* ************************************************** FOOTER *************************************************************************** */

footer{
  background-color: rgba(47, 23, 15, 0.9);
  position: relative;
  bottom: 0px;

}

/* **************************************************** media querie**************************************************************************** */

/* **************************************************** POUR TABLETTE ET MOINS****************************************************************** */
@media(max-width:973px){
  .h1{
    display: none;
  }
}

/* **************************************************POUR ECRANT ORDI ET PLUS******************************************************************* */


@media (min-width: 972px) {

/* ************************************************** PAGE D'ACCUEIL *************************************************************************** */

  .intro .img-intro {
    width: 75%;
    float: right;
  }

  .intro .sect_a{
    background-color: #f6e1c5;
    left: 0;
    width: 50%;
    margin-top: 6rem;
    position: absolute;
  }
  .intro .sect_a .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }

/* *********************************************** PAGE D'A PROPOS *********************************************************************** */

  .texte_apropos{
    position: relative;
    width: 75%;
    top: -8rem;
    left: 8rem;
  }

/* *********************************************** PAGE PRODUITS *********************************************************************** */


.super{
  position: relative;
  bottom: -4rem;
}
.infer{
  position: relative;
  top: -5rem;
  width: 60%;
}
.cafe{
  width: 50%;
}

/* *********************************************** PAGE BOUTIQUE *********************************************************************** */

}